<%= form_for @math_model, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label :name, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :machine_id, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.select :machine_id, options_for_select( Machine.all.collect { |m| [ m.name, m.id ] }, (params[:machine_id] || @math_model.machine_id)), {}, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :version, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.number_field :version, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :wild_type, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :wild_type, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :free_spins_multipliers, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.number_field :free_spins_multipliers, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :num_free_spins, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.number_field :num_free_spins, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :size_x, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.number_field :size_x, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :size_y, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.number_field :size_y, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :num_pay_lines, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.number_field :num_pay_lines, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :is_irregular, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.check_box :is_irregular %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :is_special, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.check_box :is_special  %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_area :description, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :active, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.check_box :active %>
    </div>
  </div>
  

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                edit_machine_path(@machine), :class => 'btn btn-default' %>
    </div>
  </div> 
<% end %>

<% unless @math_model.new_record? %>

  <div class="col-md-3">
    <legend>Math Assets</legend>
    <ul>
      <% @math_model.assets.each do|asset| %>
        <li class="<%= "muted" unless asset.active %>">
          <%= asset.label %>
          <%= link_to 'Edit', edit_asset_path(asset.id) %>
          <%= link_to "X", asset_path(asset), method: :delete, :data => { :confirm => 'Are you sure?' }, class: "delete" %>
        </li>
      <% end %>
      <li>
        <%= link_to "New Math Model Assets", new_asset_path(resource_id: @math_model.id, resource_type: "MathModel", bundle_type: ASSET_BUNDLE_TYPE[:MATH_MODEL_ASSET]) %>
      </li>
    </ul>
  </div>
<% end %>
