<%= form_for @theme, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label :name, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :game_id, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.select :game_id, options_for_select( Game.all.collect { |g| [ g.name, g.id ] }, (params[:game_id] || @theme.game_id)), {}, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                edit_game_path(@game), :class => 'btn btn-default' %>

    </div>
  </div>
 
<% end %>

<div class="col-md-6">
  <legend>Slot Machines</legend>
  <ul>
    <% @theme.machines.each do |machine| %>
      <li><%= "#{machine.name} -> #{link_to 'Edit', edit_machine_path(machine)}".html_safe %></li>
    <% end %>
    <li><%= link_to "New Machine", new_machine_path(theme_id: @theme.id) %></li>
  </ul>
</div>

<div class="col-md-6">
  <legend>Assets</legend>
  <ul>
    <% @theme.assets.each do |asset| %>
      <li class="<%= "muted" unless asset.active %>"><%= "#{asset.label} -> #{link_to 'Edit', edit_asset_path(asset.id)}".html_safe %></li>
    <% end %>
    <li><%= link_to "New Asset", new_asset_path(resource_id: @theme.id, resource_type: "Theme", bundle_type: ASSET_BUNDLE_TYPE[:THEME_ASSET]) %></li>
  </ul>
</div>