<%= form_for @game, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label :name, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
  </div>


  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">  
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                games_path, :class => 'btn btn-default' %>
    </div>
  </div>
 
<% end %>

<div class="col-md-6">
  <ul>
    <% @game.math_models.each do |math_model| %>
      <li class="<%= "muted" unless math_model.active %>"><%= "#{math_model.name} -> #{link_to 'Edit', edit_math_model_path(math_model)}".html_safe %></li>
    <% end %>
    <li><%= link_to "New Math Model", new_math_model_path(game_id: @game.id) %></li>
  </ul>
</div>

<div class="col-md-6">
  <ul>
    <% @game.assets.each do |asset| %>
      <li class="<%= "muted" unless asset.active %>"><%= "#{asset.label} -> #{link_to 'Edit', edit_asset_path(asset.id)}".html_safe %></li>
    <% end %>
    <li><%= link_to "New Asset", new_asset_path(game_id: @game.id) %></li>
  </ul>
</div>