<%= form_for @reel, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label :stamp_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :stamp_id, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :position, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :position, :class => 'form-control' %>
    </div>
  </div>

  
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            reels_path, :class => 'btn btn-default' %>
 
<% end %>
