<%= form_for @machine, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label :name, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :game_id, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.select :game_id, options_for_select( Game.all.collect { |g| [ g.name, g.id ] }, (params[:game_id] || @machine.game_id)), {}, :class => 'form-control' %>
    </div>
  </div>

  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">  
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                edit_game_path(@game), :class => 'btn btn-default' %>
    </div>
  </div>
 
<% end %>

<% unless @machine.new_record? %>

  <div class="col-md-3">
    <legend>Math Models</legend>
    <ul>
      <% @machine.math_models.each do |math_model| %>
        <li class="<%= "muted" unless math_model.active %>">
          <%= math_model.name %>
          <%= link_to 'Edit', edit_math_model_path(math_model) %>
          <%= link_to "X", math_model_path(math_model), method: :delete, :data => { :confirm => 'Are you sure?' }, class: "delete" %>
        </li>
      <% end %>
      <li><%= link_to "New Math Model", new_math_model_path(machine_id: @machine.id) %></li>
    </ul>
  </div>

  <div class="col-md-3">
    <legend>Mini Game</legend>
    <ul>
      <% @machine.mini_games.each do |mini_game| %>
        <li>
          <%= mini_game.name %>
          <%= link_to 'Edit', edit_mini_game_path(mini_game) %>
          <%= link_to "X", mini_game_path(mini_game), method: :delete, :data => { :confirm => 'Are you sure?' }, class: "delete" %>
        </li>
      <% end %>
      <li><%= link_to "New Mini Game", new_mini_game_path(machine_id: @machine.id) %></li>
    </ul>
  </div>

<% end %>