<%= form_for @machine, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label :machine_number, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :machine_number, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :name, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">  
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                machines_path(@machine), :class => 'btn btn-default' %>
    </div>
  </div>
 
<% end %>

<% unless @machine.new_record? %>
    <select id="country" onchange="changeUrl();">
      <option selected value="">Choose Your Country</option>
      <option value="india">India</option>
      <option value="united states">United States</option>
      <option value="united kingdom">United Kingdom</option>
      <option value="canada">Canada</option>
      <option value="france">France</option>
      <option value="germany">Germany</option>
      <option value="china">China</option>
      <option value="japan">Japan</option>
      <option value="korea">Korea</option>
      <option value="uae">UAE</option>
    </select>
  
  <div class="col-md-3">
    <legend>Main Game Math Models</legend>
    <ul>
      <% @machine.assets.where(country: params[:country]).each do |math_model| %>
        <% if math_model.bundle_type == ASSET_BUNDLE_TYPE[:MATH_MODEL_ASSET] %>
          <li class="<%= "muted" unless math_model.active %>">
            <%= math_model.version %>
            <%= link_to 'Edit', edit_asset_path(math_model) %>
            <%= link_to "X", asset_path(math_model), method: :delete, :data => { :confirm => 'Are you sure?' }, class: "delete" %>
          </li>
        <% end %>
      <% end %>
        <li><%= link_to "New Main Game Math Model", new_asset_path(resource_id: @machine.id, resource_type: "Machine", bundle_type: ASSET_BUNDLE_TYPE[:MATH_MODEL_ASSET]) %></li>
    </ul>
  </div>

  <div class="col-md-3">
    <legend>Mini Game Math Model</legend>
    <ul>
      <% @machine.assets.where(country: params[:country]).each do |mini_game| %>
        <% if mini_game.bundle_type == ASSET_BUNDLE_TYPE[:MINI_GAME_ASSET] %>
          <li class="<%= "muted" unless mini_game.active %>">
            <%= mini_game.version %>
            <%= link_to 'Edit', edit_asset_path(mini_game) %>
            <%= link_to "X", asset_path(mini_game), method: :delete, :data => { :confirm => 'Are you sure?' }, class: "delete" %>
          </li>
        <% end %>
      <% end %>
      <li><%= link_to "New Mini Game Math Model", new_asset_path(resource_id: @machine.id, country: params[:country], resource_type: "Machine", bundle_type: ASSET_BUNDLE_TYPE[:MINI_GAME_ASSET]) %></li>
    </ul>
  </div>

  <div class="col-md-3">
    <legend>Graphics</legend>
    <ul>
      <% @machine.assets.where(country: params[:country]).each do |graphics| %>
        <% if graphics.bundle_type == ASSET_BUNDLE_TYPE[:GRAPHIC_ASSET] %>
          <li class="<%= "muted" unless graphics.active %>">
            <%= graphics.version %>
            <%= link_to 'Edit', edit_asset_path(graphics) %>
            <%= link_to "X", asset_path(graphics), method: :delete, :data => { :confirm => 'Are you sure?' }, class: "delete" %>
          </li>
        <% end %>
      <% end %>
      <li><%= link_to "New Graphics", new_asset_path(resource_id: @machine.id, resource_type: "Machine", bundle_type: ASSET_BUNDLE_TYPE[:GRAPHIC_ASSET]) %></li>
    </ul>
  </div>

<% end %>